/* Estilos generales */
body {
    font-family: 'Nimbus Sans L', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #BAFFFF;
}

/* Elementos del Header */
header {
    background-color: #2FCACA;
}

.logos {
    display: flex;
    align-items: center;
}

.Shortcuts nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #2FCACA;
}

.Shortcuts nav ul li {
    padding: 10px 59.3px;
    border: 2px solid #1F8686;
    background-color: #2FCACA;
}

.Shortcuts nav ul li a {
    color: #FFFFFF;
    font-weight: bold;
}

/* Contenido del Blog  */
.Contenido-Blog {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.Titulo-Box {
    background-color: #26A1A1;
    border: 2px solid #186868;
    color: #FFFFFF;
    padding: 0px;
    text-align: center;
    font-size: 25px; 
    letter-spacing: 23px; 
    font-weight: bold; 
}

.Fav-Songs {
    background-color: #26A1A1;
    border: 2px solid #186868;
    color: #FFFFFF;
    padding: 20px;
    width: 30%;
    height: 10%;
}

.TituloSongs {
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 0;
}


.Main-Content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.Mi-Blog {
    display: flex; 
    background-color: #26A1A1;
    border: 2px solid #186868;
    padding: 20px;
    color: #FFFFFF;
    align-items: center; 
}

.Mi-Blog img {
    margin-right: 30px;
    align-items: center;
}

.Vocaloid {
    background-color: #26A1A1;
    border: 2px solid #186868;
    padding: 20px;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}

.Vocaloid-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    margin: 20px;
    padding: 10px;
    background-color: #BAFFFF;
}

.Vocaloid-Item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26A1A1;
    padding: 10px;
    border: 2px solid #186868;
    color: #FFFFFF;
    }



.Vocaloid-Item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 20px;
}

